@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.dashboard-container {
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    position: relative;
    width: 30%;
    height: auto;
    transition: all 0.3s cubic-bezier(.50, .80, .25, 1);
    box-shadow: -8px -2px 28px -8px #000000;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.dashboard-container:hover {
    box-shadow: 9px 9px 30px 3px #000000;
}

.dashboard-container h2 {
    margin-left: 8px;
    margin-top: 20px;
    font-family: OpenSans, sans-serif;
}

.dashboard-container div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.details-button {
    border-radius: 10px;
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 20px;
    margin: 4px;
    text-align: center;
}

.details-button:hover {
    background: olivedrab;
    text-decoration: underline;
}

.buttons-container {
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    position: relative;
    width: 30%;
    height: auto;
    transition: all 0.3s cubic-bezier(.50, .80, .25, 1);
    box-shadow: -8px -2px 28px -8px #000000;
    font-weight: bold;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.red, .green {
    border-radius: 10px;
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 20px;
    margin: 4px;
    text-align: center;
}

.green:hover {
    background: olivedrab;
    text-decoration: underline;
}

.red:hover {
    background: indianred;
    text-decoration: underline;
}