@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: url("/static/images/sloth_savings_background_brlsq.jpg") no-repeat center center fixed;
    background-size: cover;
}

ul {
    position: sticky;
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    width: auto;
    background: linear-gradient(darkolivegreen, olive);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    padding: 14px 16px;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
}

li:last-child {
    float: right;
}

/* Change the link color on hover */
li a:hover {
    background-color: olivedrab;
}

footer {
    background: linear-gradient(olive, darkolivegreen);
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

h1, h2, h3 {
    margin-left: 16px;
    font-family: OpenSans, sans-serif;
    font-weight: lighter;
}
h1 {
    margin-bottom: -16px;
    font-size: 1.563rem;
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}


.about-container {
    border-radius: 10px;
    text-align: justify-all;
    margin: 1rem;
    position: relative;
    width: 45%;
    height: auto;
    transition: all 0.3s cubic-bezier(.50, .80, .25, 1);
    box-shadow: -8px -2px 28px -8px #000000;

    display: block;
}

.about-text {
    width: 30%;
    text-align: justify;
}

.home-container {
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    position: relative;
    width: 30%;
    height: auto;
    transition: all 0.3s cubic-bezier(.50, .80, .25, 1);
    box-shadow: -8px -2px 28px -8px #000000;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.home-container:hover {
    box-shadow: 9px 9px 30px 3px #000000;
    background: olivedrab;
}

.home-container div {
    margin-right: 8px;
}





