{% extends 'base.html' %}
{% block page_content %}
    <h1>Create Your Profile</h1>
    <h3>Please fill all required fields!</h3>

    <div>
        <div></div>
        <div class="form">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Register">
            </form>
            <p>
                Already have an account?
                <a href="{% url 'login' %}">Login</a>
            </p>
        </div>
        <div></div>
    </div>
{% endblock %}