{% extends 'base/../base.html' %}
{% block page_content %}
    <h1>Change Your Password</h1>
    <h3>Please fill all required fields!</h3>

    <div>
        <div></div>
        <div class="form">
            <form method="post" action="{% url 'change password' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
                <p>
                    Go back to Profile Settings?
                    <a href="{% url 'edit profile' request.user.id %}">Profile Settings</a>
                </p>
            </form>
        </div>
        <div></div>

    </div>
{% endblock %}