{% extends 'base.html' %}
{% block page_content %}
    <h1>Delete Incoming</h1>

    {% if not request.user.id == incoming.user_id %}
        <h3>This is not your transaction!</h3>

    {% else %}
        <h3>Are you sure you want to delete this transaction?</h3>

        <div class="form">
            <div></div>
            <div>
                <form method="post" action="{% url 'delete incoming' incoming.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>

    {% endif %}
{% endblock %}