{% extends 'base/base.html' %}
{% block page_content %}
    <h1>Incoming Payment Details</h1>

    {% if not request.user.id == incoming.user_id %}
        <h3>This is not your transaction!</h3>

    {% else %}
        <h3>Click Edit or Delete to modify/erase this transaction</h3>

        <div class="details-container">
            <div>
                <h3>Amount: {{ incoming.amount }}</h3>
                <h3>Date of Payment: {{ incoming.date }}</h3>
                <h3>Category of Payment: {{ incoming.category }}</h3>
                {% if incoming.description %}
                    <h3>Description: {{ incoming.description }}</h3>
                {% endif %}
            </div>

            <div class="edit-delete-buttons-container">
                <a class="green" href="{% url 'edit incoming' incoming.id %}"><h3>Edit</h3></a>
                <a class="red" href="{% url 'delete incoming' incoming.id %}"><h3>Delete</h3></a>
            </div>
        </div>

    {% endif %}
{% endblock %}