.details-container {
    border-radius: 10px;
    text-align: left;
    margin: 1rem;
    position: relative;
    width: 30%;
    height: auto;
    transition: all 0.3s cubic-bezier(.50, .80, .25, 1);
    box-shadow: -8px -2px 28px -8px #000000;
    padding-top: 8px;
    display: block;
    justify-content: space-between;
    flex-direction: row;
}

.details-container h3 {
    margin: 8px;
}

.details-container a {
    text-align: center;
}

.edit-delete-buttons-container {
    display: flex;
    flex-direction: row;

}

.delete-button, .edit-button {
    border-radius: 10px;
    font-family: OpenSans, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 4px;
    padding-right: 24px;
    margin: 4px;
}

.edit-button:hover {
    background: olivedrab;
    text-decoration: underline;
}

.delete-button:hover {
    background: indianred;
    text-decoration: underline;
}
