@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.form {
    position: absolute;
    left: auto;
    border: #3a3a3a;
    border-radius: 5px;
    padding-left: 16px;
    width: 30%;
    margin: 0 auto;
    grid-area: inner-div;
    font-family: 'OpenSans', sans-serif;
    font-size: 1rem;
}

input, select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit],
.button {
    background: linear-gradient(darkolivegreen, olive);
    color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    font-family: 'OpenSans', sans-serif;
    font-size: 1rem;
    display: block;
    margin: 5px auto 0;

}

input[type=submit]:hover,
.button:hover {
    background: olivedrab;
    text-decoration: underline;
}

input:hover, select:hover, textarea:hover {
    border-color: olivedrab;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: limegreen;
}

.helptext {
    display: none;
}

.errorlist {
    background: indianred;
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
}