{% extends 'base/base.html' %}
{% block page_content %}
    <h1>Delete Expense</h1>

    {% if not request.user.id == expense.user_id %}
        <h2>This is not your transaction!</h2>

    {% else %}
        <h2>Are you sure you want to delete this transaction?</h2>

        <div class="form">
            <div></div>
            <div>
                <form method="post" action="{% url 'delete expense' expense.id %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>

    {% endif %}
{% endblock %}