{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <!--Home Page When Not Logged In-->
    <h1>Welcome to Sloth Savings!</h1>

    <h3>App's public stats:</h3>

    <!--Public stats summary-->
    <div>
        <div class="home-container">
            <h3>Users Total:</h3>
            <div>
                <h3>{{ profiles }}</h3>
            </div>
        </div>

        <div class="home-container">
            <h3>Incoming Payments Total:</h3>
            <div>
                <h3>{{ incomings|floatformat:2 }}$</h3>
            </div>
        </div>

        <div class="home-container">
            <h3>Expenses Total:</h3>
            <div>
                <h3>{{ expenses|floatformat:2 }}$</h3>
            </div>
        </div>

        <div class="home-container">
            <h3>Savings Total:</h3>
            <div>
                <h3>{{ savings|floatformat:2 }}$</h3>
            </div>
        </div>
    </div>

    <!--Add transactions-->
    <div class="buttons-container">
        <a class="green" href="{% url 'login' %}">Login</a>
        <a class="green" href="{% url 'register' %}">Register</a>
    </div>


{% endblock %}